/*           Container CENTRAL SEARCH     */
.main-member {
}
.search-results-container {
  /*background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(../../images/desktop.jpeg) no-repeat center/cover;*/
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #7A7A7A;
  letter-spacing: 2px;
  position: relative;
}
.search-box {
  margin-top: 20px;
}
.search-box input {
  outline:none;
	border:none;
}
.search {
  padding:17px 170px;
  background-color: rgba(0, 0, 0, 0.1);

}

.button {
	padding:17px 40px;
	border-radius:3px;
	outline-style: none;
	border:none;
	background-color:rgba(253,92,99,0.8);
	margin-top: 10px;
  margin-left: -8px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
}







/*   CONTAINER CENTRAL SEARCH list des membrs */

.member-list {
  overflow: hidden;
  margin-top: 20px;
}


.cardPage{
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.card {
        margin: 7px;
        min-width: 250px;
        max-width: 600px;
        width: 15%;
        height: 400px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px 0px, rgba(0, 0, 0, 0.137255) 0px 2px 2px 0px, rgba(0, 0, 0, 0.117647) 0px 3px 1px -2px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
        text-align: center;
        color: #40475A;
        cursor: pointer;
        transition: 0.1s all;
}

.topCard {

     margin-top: 30px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

}

.botCard {
      background: -webkit-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 36%, rgba(246,41,12,1) 65%, rgba(240,47,23,1) 83%, rgba(240,47,23,1) 100%);
      background: -o-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 36%, rgba(246,41,12,1) 65%, rgba(240,47,23,1) 83%, rgba(240,47,23,1) 100%);
      background: linear-gradient(to right, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 36%, rgba(246,41,12,1) 65%, rgba(240,47,23,1) 83%, rgba(240,47,23,1) 100%);
      border-top: 1px solid #40475A;
      color: #fff;
      width: 100%;
      height: 75px;
      display: flex;
      justify-content: center;
      align-items: center;
}

p {
      padding: 4px;
      margin: 0;
}
