/*     USER PROFILE CONTAINER     */

.user-profile-container {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 11%, rgba(249,239,237,1) 69%, rgba(249,239,237,1) 100%);}

.user-profile {
  margin: 100px;
  position: relative;
  min-height: 50vh;
  width: 70vw;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px 0px, rgba(0, 0, 0, 0.137255) 0px 2px 2px 0px, rgba(0, 0, 0, 0.117647) 0px 3px 1px -2px;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(../images/people.jpg) no-repeat center/cover;
  color: #fff;
}
.user-profile span {
  font-weight: bold;
  color: rgb(253,92,99);
}
.top-part {
  display: flex;
  flex-direction: row;
  padding: 30px 60px;
  justify-content: center;

}
.name {
  font-size: 26px;
  color: #c4f0fc;
  font-weight: bolder;

}


.left-part {
  width: 35%;
  display: flex;
  flex-direction: column;
}
.left-part p {
  text-transform: capitalize;
  margin-top: 10px;
}


.profile-pic {
    height: 150px;
    width: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(253,92,99,0.8);

}
img {
    height: 100%;
    width: auto;
}

.right-part {
  width: 65%;
  line-height: 1.8;

}

.infopart-bot {
  margin-top: 15px;
}


.infopart-bot a:nth-child(2n) {
  margin: 0 50px;

}
