<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Annuaire</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="../js/lib/angular.min.js"></script>
  <script src="../js/lib/angular-route.min.js"></script>
  <script src="../js/app/app.js"></script>
  <script src="../js/controllers/memberCtrl.js"></script>

</head>
<body>
  <div class="navbar">
    <div class="navbar-left">
      <a href="file:///Users/Ayshoox/Desktop/test-ignition/views/index.html#/search"><img src="../images/logo_white2.png" alt="logo ignition"></a>
    </div>
    <div class="navbar-right">
      <p>Espace Perso</p>
    </div>
  </div>
  <div class="main-container">
    <h1>Annuaire des membres d'Ignition !</h1>
    <h3>Voici l'annuaire des membres de la communauté placés en startup</h3>
    <p><a href="file:///Users/Ayshoox/Desktop/test-ignition/views/member.html#/">Consulter</a></p>
  </div>
  <div class="footer">
    <ul>
      <li><a href="">A propos</a></li>
      <li><a href="">Facebook</a></li>
      <li><a href="">Twitter</a></li>
      <li><a href="">Linkedin</a></li>
      <li><a href="">Blog</a></li>
    </ul>
  </div>
</body>
</html>
