
  <div class="main-member" ng-controller='memberCtrl'>
    <div class="search-results-container">
      <h1 style="letter-spacing:5px; margin-top:70px">Trouver un membre de la communauté</h1>
      <form class="search-box">
        <input type="text" ng-model="searchText" placeholder="Nom, Ville, secteur..." class="searching"/>
        <input type="submit" value="Search" class="button"/>
      </form>
    </div>
    <section class="search-results">
      <div class="cardPage">
          <a class="card" href="#/profile" ng-repeat="user in myData  | filter:searchText" >
              <div class="topCard">
                <div class="memberPic" >
                  <img src="{{user.picture_url_large}}" alt=""/>
                </div>
                  <h3>{{user.first_name}} {{user.last_name}}</h3>
                  <p style='margin-bottom:10px'><i>{{user.city}}, {{user.state}}</i></p>
                  <p> {{user.title}} </p>
              </div>
              <div class="botCard">
                  <p>{{user.key_skills_hashtags}}</p>
              </div>
          </a>
      </div>
    </section>
  </div>
