


<div class="user-profile-container" ng-controller='profileCtrl'>
    <div class="user-profile">
      <div class="top-part">
        <div class="left-part">
          <div class="profile-pic">
            <img src="{{user.picture_url_large}}" alt="">
            <div class="cadre"></div>
          </div>
          <p class="name">{{user.first_name}} {{user.last_name}}</p>
          <p>@{{user.username}}</p>
          <p>{{user.email}}</p>
          <p><span>Adresse:</span> {{user.street}}, {{user.postcode}}, {{user.city}} <br> {{user.country}}</p>
          <div class="infopart-bot">
           <a href="{{user.twitter}}"><i class="fa fa-twitter " aria-hidden="true"></i></a>
           <a href="{{user.facebook}}"><i class="fa fa-facebook " aria-hidden="true"></i></a>
           <a href="{{user.linkedin}}"><i class="fa fa-linkedin " aria-hidden="true"></i></a>
          </div>
        </div>
        <div class="right-part">
          <p><span>Passions:</span> {{user.passion}}</p>
          <br>
          <p><span>La communauté:</span> {{user.community_presentation}}</p>
          <br>
        </div>
      </div>

      </div>
  </div>
