


<div class="user-profile-container" ng-controller='profileCtrl'>
    <div class="user-profile">
      <div class="top-part">
        <img src="{{user.picture_url_large}}" alt=""/>
        <p class="follow"><i class="fa fa-plus" aria-hidden="true"></i></p>
      </div>
      <div class="informationPart">
        <h3>{{user.last_name}} </h3>
        <p>Administrateur CIO exceptionnel</p>
        <p>elo.urico@ladanse.fr</p>
        <!-- <div class="infopart-bot">
          <a href=""><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
          <a href=""><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
          <a href=""><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
        </div> -->
      </div>
    </div>
  </div>
